[data-theme=dark] {
    --bs-secondary-bg: #151515;
    --bs-secondary-bg-rgb: 21, 21, 21;
}

body[data-theme=dark] {
    background-color: #292C31;
}

.content {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

a {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.home-header {
    position: relative;
    height: calc(100vh - 140px);
    min-height: 450px;
}

.home-header::after {
    background-color: #1e20249f;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: "";
    border-bottom: 3px solid var(--bs-primary);
}

.navbar-brand img {
    max-height: 75px;
    max-width: 150px;
}

.navbar .nav-item {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.navbar .nav-item .nav-link {
    --bs-nav-link-color: var(--bs-body-color);
    text-transform: uppercase;
    font-weight: bold;
}

.navbar .nav-item .nav-link.active,
.navbar-socials .nav-link {
    color: var(--bs-primary);
}

.navbar .nav-item .dropdown-toggle::after {
    border-top: 0.3em solid var(--bs-primary);
}

.user-nav-link {
    display: flex;
    align-items: center;
}

.user-nav-link img {
    height: 24px;
}
